@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a1518;
  --font-gilmer-regular: "GilmerRegular", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a1518;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-gilmer-regular);
}
